*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-transform: uppercase;
}
.div1{
    background-color: blue;
    width: 200px;
    display: inline-block;
}
.div2{

}
.div3{
    
}